*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./bk.png) no-repeat center center fixed;
    background-size: cover;
}

#clock {
    font-family: "Orbitron", sans-serif;
    font-size: 9em;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
  }
  
  .container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
  }